<form [formGroup]="form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" formControlName="email">
    <ul *ngIf="form.get('email')!.invalid && form.get('email')!.touched" class="errors">
      <li *ngIf="form.get('email')!.errors?.required">Email is required</li>
      <li *ngIf="form.get('email')!.errors?.email">Email is invalid</li>
    </ul>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
    <ul *ngIf="form.get('password')!.invalid && form.get('password')!.touched" class="errors">
      <li *ngIf="form.get('password')!.errors?.required">Password is required</li>
      <li *ngIf="form.get('password')!.errors?.minlength">Password should be more than 6 characters</li>
    </ul>
  </div>
  <div class="form-group">
    <label for="repeat-password">Repeat password</label>
    <input type="password" name="repeatPassword" id="repeat-password" formControlName="repeatPassword">
    <ul *ngIf="form.get('repeatPassword')!.invalid && form.get('repeatPassword')!.touched" class="errors">
      <li *ngIf="form.get('repeatPassword')!.errors?.required">Repeat password is required</li>
      <li *ngIf="form.get('repeatPassword')!.errors?.minlength">Repeat password should be more than 6 characters
      </li>
      <li *ngIf="form.get('repeatPassword')!.errors?.sameValue">Password and repeat password don't match. Password
        value:
        {{form.get('repeatPassword')!.errors!.sameValue.password}} and repeat password value is: Password value:
        {{form.get('repeatPassword')!.errors!.sameValue.repeatPassword}}
      </li>
    </ul>
  </div>
  <button>Login</button>
</form>