<app-header></app-header>

{{ data | getProp : [0, 'test'] }}

<button (click)="addItem()">Add new data item</button>

<div id="content">
  <router-outlet (activate)="activateHandler($event)"></router-outlet>
</div>
<!-- 
<button (click)="toggleActive()" [appHighlight]="isActive">Toggle active</button>
<ng-template #isActiveTemplate>
  IS ACTIVE - TRUE
</ng-template>
<ng-template #isNotActiveTemplate>
  IS ACTIVE - FALSE
</ng-template> -->

<!-- <ng-container *ngTemplateOutlet="isActive ? isActiveTemplate : isNotActiveTemplate"></ng-container>

<br> -->

<!-- <ng-container *ngIf="isActive; else isNotActiveTemplate">
  IS ACTIVE - TRUE
</ng-container> -->

<!-- <br> -->

<!-- <ng-template [appMyIf]="isActive" let-data="data" let-test>
  <ng-container>
    {{data}}
    {{test}}
    IS ACTIVE - TRUE
  </ng-container>
</ng-template> -->

<!-- <ng-container *appMyIf="isActive; let test; let data=data">
  {{data}}
  {{test}}
  IS ACTIVE - TRUE
</ng-container> -->

<app-footer></app-footer>