<div class="container">
  <form [formGroup]="form" class="register" action="" method="post" (ngSubmit)="register()">

    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input class="input-error" type="text" name="username" id="username" placeholder="Johny"
          formControlName="username">
      </p>
      <ng-container *ngIf="form.get('username')?.touched">
        <p *ngIf="form.get('username')?.errors?.required" class="error">
          Username is required!
        </p>
        <p *ngIf="form.get('username')?.errors?.minlength" class="error">
          Username should be > 4
        </p>
      </ng-container>

      <!-- email -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" formControlName="email">
      </p>

      <ng-container *ngIf="form.get('email')?.touched">
        <p *ngIf="form.get('email')?.errors?.required" class="error">
          Email is required!
        </p>
        <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
          Email is not valid!
        </p>
      </ng-container>


      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
        <select name="select-tel" id="select-tel" class="tel">
          <option value="00359">+359</option>
        </select>
        <input type="text" name="tel" id="tel" placeholder="885 888 888" formControlName="tel">
      </p>

      <!-- password -->
      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input type="password" name="password" id="password" placeholder="******" formControlName="password">
      </p>

      <ng-container *ngIf="form.get('password')?.touched">
        <p *ngIf="form.get('password')?.errors?.required" class="error">
          Password is required!
        </p>
        <p *ngIf="form.get('password')?.errors?.minlength" class="error">
          Password must be at least 4 characters!
        </p>
      </ng-container>

      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
        <input type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword">
      </p>

      <ng-container *ngIf="form.get('rePassword')?.touched">
        <p *ngIf="form.get('rePassword')?.errors?.required" class="error">
          Repeat Password is required!
        </p>
        <p *ngIf="form.get('rePassword')?.errors?.sameValue" class="error">
          Repeat Password does not match password!
        </p>
      </ng-container>

      <button>Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>

    </fieldset>
  </form>
</div>